{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
<section class="section is-medium section-secondary" id="contactus">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <div class="card" style="border-radius: 8px;">
            <header class="card-header is-centered">
              <p class="card-header-title">
                United States - Texas
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                700 Central Expressway South <br>
                Ste. #400 <br>
                Allen, TX 75013<br><br>

                Telephone: +1 973 343 2412 <br>
                Fax: +1 973 400 0051 <br>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card" style="border-radius: 8px;">
            <header class="card-header is-centered">
              <p class="card-header-title">
                United States - New Jersey
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                2001 Route 46, Suite 310 <br>
                Waterview Plaza <br>
                Parsippany, NJ 07054<br><br>

                Telephone: +1 973 343 2412 <br>
                Fax: +1 973 400 0051 <br>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card" style="border-radius: 8px;">
            <header class="card-header is-centered">
              <p class="card-header-title">
                India - Telangana
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                Flat No 103, 8-3-973/2 <br>
                Divya Apartments, Srinagar Colony <br>
                Hyderabad, Telangana 500073<br><br>

                Telephone: +91 960 313 2132 <br><br>
                <!--Fax: +1 973 400 0051 <br>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>